.home-imagenes {
  width: 100%;
  height: 600px;
  overflow: hidden;
}

/* Contenedor de Swiper */
.img {
  width: 100%;
  height: 100%;
}


.img .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.img .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}