/* Asegura que el contenedor principal tenga altura completa */
.contenedor-principal {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 100vh;
}

.contenedor-filtro {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.459);
  min-height: 100vh;
  background-color: #ffffff;
  padding: 20px;
}

.filtro {
  position: sticky;
  top: 20px; /* Deja 20px desde el top al hacer scroll */
  width: 100%;
}

.contenedor-jugadores {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Cambiado a flex-start */
  align-items: center;
  
  min-height: 100vh;
  background-color: #f0f0f0;
  
}

.info-jugadores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  width: 100%;
}

.img {
  width: 150px;
  height: 150px;
  margin: 10px;
}